body {
			/*background-color: #24251a;*/
			background-color: whitesmoke;
			color: black;
			font: 11pt 'Open Sans';
		}

		.cellborder {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			
			border-style: solid;
			border-width: 4px 17px 17px 7px;
			-moz-border-image: url('../images/table2.png') 4 17 17 7 fill;
			-webkit-border-image: url('../images/table2.png') 4 17 17 7 fill;
			-o-border-image: url('../images/table2.png') 4 17 17 7 fill;
			border-image: url('../images/table2.png') 4 17 17 7 fill;
			background-color: c9cda7
			
			padding: 2px;
			padding-right:0px;
			
		}
		
		.hypothesis {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			width: 80%;
		}

		.hypothesis-title-word {
			font: 28pt 'Open Sans';
			color: black;
		}
		
		.hypothesis-title {
			font: bold 28pt helvetica;
			color: #000000;
		}
		
		#title-section {
			position: relative;
		}
		
		#author-text {
			position: relative;
			bottom: 0px;
			right: 0px;
			font: italic 18pt helvetica;
		}
		
		.sep1 {
			position: relative;
			width: 100%;
			height: 8px;
			background-color: #000000;
		}
		
		.sep2 {
			position: relative;
			width: 100%;
			height: 4px;
			background-color: #000000;
		}